/* coba commit */
@media all and (max-width: 1000px) {
    .service {
      width: 30%;
      margin-bottom: 5%;
    }

    .section-title{
        margin-top: 20%;
    }
}
@media (max-width:670px) {
    .main{
        text-align:left;
        padding-top:130px;
    }

    .main h1{
        font-size: 60px;
    }

    .main p{
        font-size: 20px;
    }

    .header-list{
        display: none;
    }

    .navbar .menu-icon{
        display: block;
    }
    
    .service{
        width: 65%;
        margin-bottom: 10%;
        margin-left:10%;
        margin-right: 10%;
    }

    .flex-box{
        width: 80%;
    }

    .service-icon{
        display: block;
    }
    .section-title{
        text-align: left;
    }
    
    .member{
        width: 100%;
    }
}