/* coba commit */
@media all and (max-width: 1000px) {
    .service {
      width: 30%;
      margin-bottom: 5%;
    }

    .section-title{
        margin-top: 20%;
    }
    
    /*.service-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }*/
}
@media (max-width:670px) {
    .main{
        text-align:left;
        padding-top:130px;
    }
    .service{
        width: 70%;
        margin-bottom: 10%;
        margin-left:10%;
    }
    .flex-box{
        width: 50%;
    }
    .service-icon{
        display: block;
    }
    .section-title{
        text-align: left;
    }
    
    .member{
        width: 100%;
    }
}