body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}
li {
    list-style: none;
  }
header {
    background-color: hsla(152, 61%, 42%, 0.795);
    color: #fff;
    height: 90px;
  }
 .container{
    width: 1170px;
    padding: 0px auto;
    float:left;
    text-align: center;
} 
.header-left img{
    height:70px;
    width: 70px;
    padding:10px 10px ;
    font-size: 36px;
    object-fit:cover;
    float: left;
}
.header-list li{
    float: left;
    font-size:20px;
    margin:10px 20px;
    display: block;
    transition: all 0.5s;
    font-weight: bold;
}
a{
    color: #fff;
}

a:hover{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    cursor: pointer;  
}

/* .header-list .About_Page:hover{
    color: rgba(0, 0, 0, 0.5);
}
.header-list .Profil_Page:hover{
    color: rgba(0, 0, 0, 0.5);
}
.header-list .Contact_Page:hover{
    color: rgba(0, 0, 0, 0.5);
} */

